@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Arima", cursive;
}

/* VARIABLES 

La paleta de color - Color primario - secundario - etc
Tamaño de tipografia
Familia tipografia
Tamaños
Imagenes - background

*/
.size-uno {
  font-size: 1rem;
}

.size-dos {
  font-size: 0.7rem;
}

.size-tres {
  font-size: 0.5rem;
}

.size-cuatro {
  font-size: 0.2rem;
}

.redes__spotify {
  background-color: #008000;
}

.redes__linkedin {
  background-color: #0000ff;
}

.redes__instagram {
  background-color: #d92342;
}

.redes__whatsapp {
  background-color: #5adb5a;
}

/* GRID TEMPLATE */
.grid__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 0.6fr auto;
  grid-template-areas: "cabeza cabeza  cabeza" "publi  galeria galeria" "publi  galeria galeria" "pie     pie     pie";
}

/*

Tipos de botones - activos - inactivos - hover 


*/
.cabeza {
  grid-area: cabeza;
}
.cabeza__span {
  font-size: 0.5rem;
  background-color: #000000;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 80%;
  padding: 0.6em;
  font-family: "Arima", cursive;
}
.cabeza__span p {
  color: #ffffff;
  margin: 0;
  font-size: 0.8em;
  letter-spacing: 4px;
}

.notificacion__button {
  border: none;
}
.notificacion__button--svg {
  margin: 7px;
  width: 20px;
  height: 20px;
}
.notificacion__button a {
  padding: 0px;
  margin-right: 10px;
}

.publi {
  grid-area: publi;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px;
}
.publi__button {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #000;
  border-radius: 10px;
  width: 80%;
}
.publi__img {
  width: 100%;
}
.publi__card {
  background: #e8dbcb;
  height: 29%;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.galeria {
  grid-area: galeria;
  flex-flow: wrap;
  margin: 1.5em;
  display: flex;
  flex-direction: none;
  justify-content: center;
}
.galeria__producto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0.7em;
  border: 1px solid #000;
  border-radius: 0 0 16px 60px;
  width: 14em;
  height: 17em;
}
.galeria__producto:hover {
  box-shadow: 5px 8px 8px 2px #e8dbcb;
}
.galeria__producto__span {
  width: 40px;
  height: 25px;
  background: #e8dbcb;
  text-align: center;
  position: relative;
  left: 73px;
  border-radius: 0px 0px 10px 10px;
}
.galeria__producto__img {
  width: 10rem;
}
.galeria__producto__button {
  background-color: #e8dbcb;
  color: #ffffff;
  border: 1px solid #000000;
}

.pie {
  grid-area: pie;
  background-color: #000;
  height: 5rem;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.pie__redes__size {
  width: 25px;
  height: 25px;
}

/* T A B L E T */
@media (max-width: 768px) {
  .grid__container {
    grid-template-columns: 50% 50%;
    grid-template-rows: 0.2fr 0.3fr 1fr 2em;
    grid-template-areas: "cabeza cabeza " "publi publi " "galeria galeria " "pie pie ";
  }
  .publi {
    flex-direction: row;
  }
  .publi__img {
    width: 50%;
    height: 100%;
  }
  .publi__card {
    height: 100%;
    border-radius: 0 10px 10px 0px;
  }
  .galeria__producto__img {
    width: 13rem;
  }
  .galeria__producto__span {
    display: none;
  }
  .galeria__producto__button {
    width: 2rem;
    height: 10rem;
    width: 2rem;
    height: 10rem;
    background-color: #e8dbcb;
    color: #ffffff;
    border: 1px solid #000000;
  }
}
@media (max-width: 576px) {
  html {
    background-color: #ffffff;
  }
  .grid__container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "cabeza" "publi" "galeria" "pie";
  }
  .publi {
    flex-direction: column;
  }
  .publi__card p {
    margin: 1rem;
    text-align: justify;
  }
  .publi__img {
    width: 100%;
  }
  .galeria__producto {
    width: 90%;
    height: 9rem;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 0 0 35px 35px;
  }
  .galeria__producto__img {
    width: 8rem;
  }
  .galeria__producto__button {
    background-color: #e8dbcb;
    color: #ffffff;
    width: 7rem;
    border: 1px solid #e8dbcb;
    height: 2rem;
  }
}

/*# sourceMappingURL=main.css.map */
