
* {
  margin: 0;
  padding: 0;
  font-family: "Arima", cursive;
}

/* GRID TEMPLATE */
.grid__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 0.6fr auto;
  grid-template-areas: 
  "cabeza cabeza  cabeza" 
  "publi  galeria galeria" 
  "publi  galeria galeria" 
  "pie     pie     pie";
}



.galeria {
  grid-area: galeria;
  display: flex;
    flex-flow: wrap;
    margin: 1.5em;
    justify-content: center;
}
.galeria__producto {
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0.7em;
    border: 1px solid #000000;
    border-radius: 0 0 16px 60px;
    width: 14em;
    height: 17em;
}
.galeria__producto:hover {
  box-shadow: 5px 8px 8px 2px rgba(0, 0, 0, 0.1);
}
.galeria__producto__span {
  width: 40px;
  height: 25px;
  background: #e8dbcb;
  text-align: center;
  position: relative;
  left: 73px;
  border-radius: 0px 0px 10px 10px;
}
.galeria__producto__img {
  width: 10rem;
}

.galeria__producto__button {
  background-color: #e8dbcb;
  color: #ffffff;
  border: 1px solid #000000;
}



/* T A B L E T */
@media (max-width: 768px) {
  .grid__container {
    grid-template-columns: 50% 50%;
    grid-template-rows: 0.2fr 0.3fr 1fr 2em;
    grid-template-areas: "cabeza cabeza " "publi publi " "galeria galeria " "pie pie ";
  }
  .publi {
    flex-direction: row;
  }
  .publi__img {
    width: 50%;
    height: 100%;
  }
  .publi__card {
    height: 100%;
    border-radius: 0 10px 10px 0px;
  }
  .galeria__producto {
    width: 20rem;
    height: 17rem;
  }
  .galeria__producto__img {
    width: 13rem;
  }
  .galeria__producto__span {
    display: none;
  }
  .galeria__producto__button {
    width: 2rem;
    height: 10rem;
    background-color: #e8dbcb;
    color: #ffffff;
    border: 1px solid #000000;
  }
}
@media (max-width: 576px) {
  html {
    background-color: #ffffff;
  }
  .grid__container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "cabeza" "publi" "galeria" "pie";
  }
  .publi {
    flex-direction: column;
  }
  .publi__card p {
    margin: 1rem;
    text-align: justify;
  }
  .publi__img {
    width: 100%;
  }
  .galeria__producto {
    width: 90%;
    height: 9rem;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 0 0 35px 35px;
  }
  .galeria__producto__img {
    width: 8rem;
  }
  .galeria__producto__button {
    background-color: #e8dbcb;
    color: #ffffff;
    width: 7rem;
    border: 1px solid #e8dbcb;
    height: 2rem;
  }
}

