.cabeza{
    grid-area: cabeza;
    

    &__span {
        font-size: map-get($fontsize-mood, tres);
        background-color: $color-primary;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        width: $width-total;
        padding: 0.6em;
        font-family: $tipografia-titulo;

        p{
            color: #ffffff;
            margin: 0;
            font-size: 0.8em;
            letter-spacing: 4px;
          }
      }
}

.notificacion{

    &__button {
        border: none;

        &--svg {
            margin: 7px;
            width: 20px;
            height: 20px;
          }
        
        a {
        padding: 0px;
         margin-right: 10px;
        }
      }
     
}














